.wrap{
  background-color: black;
  color: white;
}

.nav-item{
  text-decoration: none;
  color: white;
  margin: 0 10px;
}

.banner{
  padding:0 150px;
  height:600px;
  display: flex;
  align-items: center;
  background-color: black;
}
.banner::before{
  position: absolute;
  left: 0;
  width: 100%;
  height: 600px;
  content: '';
  background: linear-gradient(to right,black,transparent);
}
.banner_info{
  color: white;
  width: 40%;
  z-index: 1;
}



/*card*/
.card{
  width:300px;
  height:200px !important;
}
/*movies_wrap*/
.movies_wrap{
  padding: 0 50px;
}